/* Background color of the website*/
body{
    background-color: #212529;
}

/* All the text that is not from Bootstrap but got added */

.main-text{
    text-align: center;
    color: white;
    font-size: 2rem;
}

/* Media queries */
@media (max-width: 900px) {
    .carousel {
      width:auto;
      height:auto;
    }

    .homepage img{
        width: auto;
        height: 500px;
    }
}

.homepage img{
    width: auto;
    height: 600px;
}