/* Background color of the website*/
body{
    /*background-color:  #ffff80;*/
    background-color: #ff80c4;
}

.navbar{
    /*background-color:  #ff80c4 !important;*/
    background-color:  #ffff80 !important;
}

.navbar a{
    color: black;
}

/* All the text that is not from Bootstrap but got added */

.main-text{
    text-align: center;
    color: black;
    font-size: 2rem;
}

/* Media queries */
@media (max-width: 900px) {
    .carousel {
      width:auto;
      height:auto;
    }

    .homepage img{
        width: auto;
        height: 500px;
    }
}

.homepage img{
    width: auto;
    height: 600px;
}